@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import './base.css'; */
@import 'tailwindcss/utilities';

.jumbotron {
    background-size: cover;
    text-align: left;
    padding: 5rem;
    margin: 0;

  }
  
  .jumbotron .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .jumbotron .subtitle {
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 1.5;    
  }

  .jumbotron p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .jumbotron #buttons{
    margin-top: 2rem;
    gap: 1rem;
  }

.slick-dots li button:before {
  color: #f5c842; /* Change this to your desired color */
}


.css-selector {
    background: linear-gradient(270deg, #22e9b6, #d64017, #1b2ecf);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}